* {box-sizing: border-box}

.box{
  margin: 10% 20% 0 20%;
	border : 2px solid black;
	color: black;
	padding: 10px;
	height: 400px;
  position: relative;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px  0 20px 0;
  background: #f1f1f1;
}

#password_field img{
  width: 20px;
  float: right;
}

.remember{
  float: left;
  position: relative;
}

.forgot{
	float: right;
	position: relative;
}

button{
  font-size: 20px;
  margin: 20px 0px;
  width: 200px;
}
