* {box-sizing: border-box}

.box{
  margin: 10% 20% 0 20%;
	border : 2px solid black;
	color: black;
	padding: 10px;
	height: 400px;
  position: relative;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px  0 20px 0;
  background: #f1f1f1;
}

input[type=submit] {
    width: 30%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;
}

input[type=submit]:hover {
   opacity: 1;
}

.remember{
  float: left;
  position: relative;
}

.forgot{
	float: right;
	position: relative;
}


