body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #F2F3F4    ;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background: #188224;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff; 
}

.dark{
  padding:15px;
  background-color: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */ 
header{
  background:#f3f3f3;
  color: black;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #00b300 3px solid;
  z-index: 1;
}

header a{
  color: black;
  text-decoration: none;
  font-size: 16px;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin:0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #188224;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */
#showcase{
  min-height: 500px;
  background: url('img3.jpeg') no-repeat 0 -300px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 150px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

.button_2{
  height: 50px;
  background: #188224;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff; 
  border-radius: 25px;
  cursor: pointer;
}

.button_2 a{
  text-decoration: none;
  color: white;
  font-size: 22px;
}

/*Search box*/
#banner{
  padding: 15px;
  color: #ffffff;
  background: #1E4B28;
}

#banner h1{
  float: left;
}

#banner form{
  float: right;
  margin-top: 15px;
}

#banner input[type="text"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
 
/* Boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 90px;
}

/* Sidebar */
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col{
  float: left;
  width: 65%;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #1E4B28;
  text-align: center;
  z-index: 1;
}

.post-container{
  position: relative;
  margin: 30px 5%;
  width: 90%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  padding: 10px 5px;
  margin: 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  text-align: center;
  font-family: arial;
  flex: 1;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.c1{
  height: 40%;
  overflow: hidden;
}

.c2{
  height: 13ch;
  overflow: hidden;
}

.c3{
  height:30ch;
  overflow: hidden;
}

.c4{
  height: 10%;
}

.bio {
  display: block; 
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 8.6em;
  line-height: 1.8em;
  color: grey;
  font-size: 24px;
}

.card button {
  margin: 0px 5%;
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #188224;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 22px ;
  border-radius: 25px;
}

.card button:hover {
  background-color: 257543;
}

#viewbtn{
  float: left;
}

#donatebtn{
  float: left;
}

.change{
    margin:0px 40%;
    width: 20%;
    border: 2px solid blue;
    font-size: 24px;
    align-self :center;
}

.change a{
  text-decoration: none;
}

.change #prevoius{
  float: left;
}

.change #next{
  float: right;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding, header nav, header nav li,
  #banner h1, #banner form, #boxes .box,
  article#main-col, aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #banner form input[type="text"]{
    width: 100%;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .post-container{
    display: flex;
    flex-flow: column wrap;
  }

  .card { 
    display: block;
    width: 90%;
    flex: 1;
  }

}

@media only screen and (max-width: 800px) {
  .bio {
    font-size: 18px;
  }

  .card button {
    font-size: 16px ;
  }

}



