*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #F2F3F4    ;
}

/* Global */
.button_1{
  height: 30px;
  background: #188224;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff; 
}

/* Showcase */
#showcase{
  min-height: 500px;
  background: url('img3.jpeg') no-repeat 0 -300px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 150px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

.button_2{
  height: 50px;
  background: #188224;
  border: 0;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff; 
  border-radius: 25px;
  cursor: pointer;
}

.button_2 a{
  text-decoration: none;
  color: white;
  font-size: 22px;
}

/*Search box*/
#banner{
  padding: 15px;
  color: #ffffff;
  background: #1E4B28;
}

#banner h1{
  float: left;
}

#banner form{
  float: right;
  margin-top: 15px;
}

#banner input[type="text"]{
  padding: 4px;
  height: 30px;
  width: 250px;
}
.change{
    margin:0px 30%;
    width: 40%;
    border: 2px solid blue;
    font-size: 24px;
    align-self :center;
}

.change a{
  text-decoration: none;
}

.change #previous{
  float: left;
}

.change #next{
  float: right;
}

/* Media Queries */
@media(max-width: 768px){
  #banner h1, #banner form{
    float: none;
    text-align: center;
    width: 100%;
  }

  #showcase h1{
    margin-top: 150px;
  }

  #banner form input[type="text"]{
    width: 100%;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1366px) {
  #showcase{
    min-height: 700px;
    background-size: cover;
  }
  
}



@media only screen and (max-width: 768px) {
  .bio {
    font-size: 18px;
  }
  
  .post-container{
    margin:0 20%; 
    width: 70%;
    display: flex;
    flex-flow: column wrap;
  }

  .card { 
    margin: 20px 10px;
    display: block;
    width: 80%;
    flex: 1;
    font-size: 14px;
  }

  .card button {
    font-size: 14px ;
  }

  .change{
    margin:0px 30%;
    width: 40%;
    font-size: 16px;
  }

}

@media only screen and (max-width: 507px) {
  .button_1{
    width: 100%
  }

  #showcase{
    min-height: 350px;
    background: url('img3.jpeg') no-repeat 0 -300px;
  }

  #showcase h1{
    margin-top: 100px;
    font-size: 32px;
  }

  #showcase p{
    font-size: 18px;
  }

  .button_2{
    height: 50px;
    border-radius: 20px;
  }

  .button_2 a{
    font-size: 18px;
  }

  .post-container{
    margin:0 15%; 
    width: 80%;
    display: flex;
    flex-flow: column wrap;
  }

  .card { 
    display: block;
    flex: 1;
  }

  .change{
    margin:0px 20%;
    width: 30%;
    font-size: 12px;
}

}

